/*
    Author:         James Pietras (Bancroy)
    Name:           SASS Toolbox
    Description:    A set of SASS mixins and functions to make your life easier.
    License:        MIT
    Repository:     https://github.com/Bancroy/sass-toolbox
*/

// Standard clearfix for float layouts
@mixin clearfix() {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}