/*
    Author:         James Pietras (Bancroy)
    Name:           SASS Toolbox
    Description:    A set of SASS mixins and functions to make your life easier.
    License:        MIT
    Repository:     https://github.com/Bancroy/sass-toolbox
*/

// Breakpoints manager
// Global data -> [map(string, integer)] breakpoint-name:break-screen-width
/*
    <variable>               <type>         <default>      <usage>
    $breakpoint-name         [required]     ()             |Breakpoint name from map $breakpoints {string}
    $breakpoint-type         [required]     ()             |Breakpoint type {string(and-down, only, and-up)}
*/
$breakpoints: (
    "xs": 0,
    "sm": 544,
    "md": 768,
    "lg": 992,
    "xl": 1200
);
@mixin breakpoint($breakpoint-name, $breakpoint-type) {
    $breakpoint-names: map-keys($breakpoints);
    $breakpoint-index: index($breakpoint-names, $breakpoint-name);
    
    $is-first-and-zero: if($breakpoint-index == 1 and map-get($breakpoints, $breakpoint-name) == 0, true, false);
    $is-last: if($breakpoint-index == length($breakpoint-names), true, false);
    @if $breakpoint-type == "and-down" and $is-last { @warn "This breakpoint makes no sense."; }
    @if $breakpoint-type == "and-up" and $is-first-and-zero { @warn "This breakpoint makes no sense."; }
    @if $breakpoint-type == "and-down" and $is-first-and-zero { @warn "This breakpoint could be [only]."; }
    @if $breakpoint-type == "and-up" and $is-last { @warn "This breakpoint could be [only]."; }
    
    @function breakpoint-next() {
        @return if($breakpoint-index < length($breakpoint-names), nth(nth($breakpoints, $breakpoint-index + 1), 1), null);
    }
    
    @function breakpoint-min($breakpoint-name: $breakpoint-name) {
        $min: map-get($breakpoints, $breakpoint-name);
        @return if($min > 0, $min, null);
    }
    
    @function breakpoint-max($breakpoint-name: $breakpoint-name) {
        $next: breakpoint-next();
        @return if($next, breakpoint-min($next) - 1, null);
    }
    
    @mixin breakpoint-down() {
        $max: breakpoint-max();
        @if $max { @media (max-width: $max + "px") { @content; } } @else { @content; }
    }
    
    @mixin breakpoint-up() {
        $min: breakpoint-min();
        @if $min { @media (min-width: $min + "px") { @content; } } @else { @content; }
    }
    
    @if $breakpoint-type == "and-down" {
        @include breakpoint-down();
    } @else if $breakpoint-type == "only" {
        @include breakpoint-up() { @include breakpoint-down(); };
    } @else if $breakpoint-type == "and-up" {
        @include breakpoint-up();
    }
}

// Standard clearfix for float layouts
@mixin clearfix() {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

// Smoothly scaled font-size
/*
    <variable>               <type>         <default>      <usage>
    $size-start              [required]     ()             |Inital font-size of element {integer, float}
    $size-end                [required]     ()             |Font-size to be reached on last step {integer, float}
    $unit                    [required]     ()             |Unit of font-size {px, em, rem}
    $breakpoint-final        [optional]     (1000)         |Value of breakpoint at last step {integer, float}
    $steps                   [optional]     (10)           |Amount of steps between base and final breakpoint values {integer}
    $breakpoint-base         [optional]     (361)          |Value of breakpoint at first step {integer, float}
    $breakpoint-unit         [optional]     ("px")         |Unit of breakpoint {px, em, rem}
*/
@mixin flow-text($size-start, $size-end, $unit, $breakpoint-final: 1000, $steps: 10, $breakpoint-base: 361, $breakpoint-unit: "px") {
    $steps: $steps - 1;
    $unit: unquote($unit);
    $breakpoint-unit: unquote($breakpoint-unit);
    
    font-size: $size-start + $unit;
    
    @for $step from 0 through $steps {
        $step-difference: ($breakpoint-final - $breakpoint-base) / $steps;
        $breakpoint-step: $breakpoint-base + $step-difference * $step;
        @if $breakpoint-unit == px { $breakpoint-step: round($breakpoint-step); }
        
        @media only screen and (min-width: $breakpoint-step + $breakpoint-unit) {
            $size-step: $size-start + (($size-end - $size-start) / ($steps + 1) * ($step + 1));
            @if $unit == px { $size-step: round($size-step); }
            
            font-size: $size-step + $unit;
        }
    }
}